@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

/*@include "_variables.css"*/

/*************************************************
                DEFAULTS
*************************************************/
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

:root {
    --bd-top: 1rem solid hsl(142, 70%, 40%);
    --b-bdr: 1px solid hsl(142, 70%, 40%);
    --h-txt-sdw: 2px 2px 2px hsl(1, 0%, 20%);
    --h-clr: hsl(142, 70%, 40%);
    --h-bg-clr: hsl(1, 0%, 90%);
    --b-bg-clr: hsl(1, 0%, 50%);
    --b-h-bg-clr: hsl(142, 70%, 30%);
    --b-h-box-sdw: 0 0 10px hsl(206, 69%, 47%);
    --i-clr: hsl(1, 0%, 30%);
    --i-box-sdw: 2px 2px 3px 1px hsl(1, 0%, 50%);
}

*::after,
*::before {
    box-sizing: inherit;
}

/*************************************************
                OVERLAY / MODALS
*************************************************/
#modalButton {
    position: relative;
    left: 45%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: hsla(0, 0%, 0%, 0.8);
    cursor: pointer;
}

.modalw {
    position: fixed;
    width: 500px;
    height: 280px;
    z-index: 2000;
    top: calc((100% - 280px)/2);
    left: calc((100% - 500px)/2);
    line-height: 1.5rem;
    color: hsl(0, 0%, 33%);
    background-color: hsl(0, 0%, 93%);
}

.mini-modal {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 50;
    top: 0;
    left: 0;
    line-height: 1.5rem;
    color: hsl(135, 94%, 90%);
    background-color: hsla(150, 100%, 10%, 0.8);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.off {
    transform: translateY(-400%);
}

.on {
    transform: translateY(0);
}

.cancelButton,
.saveButton {
    width: 120px;
    position: absolute;
    border: none;
    background-color: hsl(150, 100%, 10%);
    color: hsl(0, 100%, 100%);
    cursor: pointer;
    padding: 0.25rem 2rem;
    font-size: 1.2rem;
}

.saveButton {
    bottom: 1rem;
    right: 4rem;
}

.cancelButton {
    bottom: 1rem;
    left: 4rem;
}

.modal-header {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: hsl(150, 100%, 30%);
    color: hsl(0, 100%, 100%);
    text-align: center;
}

.modal-header h2 {
    font-size: 1.2rem;
}

.modal-radio {
    text-align: center;
    margin-top: 4rem;
}

.modal-radio label {
    font-size: 1.2rem;
}

/*************************************************
                    GENERAL
*************************************************/

.iconic * {
    fill: hsl(1, 0%, 90%);
    stroke: hsl(1, 0%, 90%);
}

button,
input {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    padding: 0.4rem;
    margin-top: 20px;
    font-size: 1rem;
}

.flexg {
    display: grid;
    grid-template-areas:
        "l s s s c";
    grid-template-columns: repeat(5, 1fr);

}

.logoDB {
    margin-left: 10px;
    margin-top: 6px;
    grid-area: l;
    justify-self: start;
}

#logoMD {
    width: 80px;
    height: 87px;
}

.searchButtonDiv {
    grid-area: s;
    position: relative;
    color: hsl(1, 0%, 60%);
    font-size: 16px;
}

.searchButtonDiv input {
    margin-top: 34px;
    width: 90%;
    height: 32px;
    text-indent: 32px;
    text-align: left;

    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.searchButtonDiv .fa-search {
    position: relative;
    top: 2px;
    left: 30px;
}

.settingButtonDiv {
    margin-top: 34px;
    margin-right: 20px;
    grid-area: c;
    justify-self: end;
}

#home {
    display: block;
}

#list {
    display: none;
}

.mainList2 {
    width: 60%;
}

main {
    min-height: 950px;
}

#numbers {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    justify-content: center;
}

ul {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

li {
    list-style: none;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    font-weight: bolder;
    padding: 2rem 1.5rem 2rem 1.5rem;
    font-size: 1.1rem;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    background-size: contain;
}

header > h1 > span {
    font-size: 2.8rem;
    text-shadow: var(--h-txt-sdw);
    color: var(--h-clr);
    background-color: var(--h-bg-clr);
}


/*************************************************
            MAIN CONTENT
*************************************************/
.num_list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section > p {
    padding: 0 0 1rem 0;
}

button {
    color: var(--h-bg-clr);
    background-color: var(--b-bg-clr);
    font-size: 1.1rem;
    border: var(--b-bdr);
    border-radius: 2px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

button:hover {
    background-color: var(--b-h-bg-clr);
    box-shadow: var(--b-h-box-sdw);
    cursor: pointer;
}

#max,
#digits {
    font-size: 1rem;
    color: var(--i-clr);
    box-shadow: var(--i-box-sdw);
}


/*************************************************
            FOOTER
*************************************************/
footer {
    background-color: hsl(1, 0%, 30%);
    color: hsl(0, 100%, 100%);
    width: 100%;
    height: 76px;
}

#logoFooter {
    margin-top: 10px;
    width: 110px;
    height: 50px;
}


/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {

    header > h1 > span {
        font-size: 2.8rem;
    }

    li {
        background-size: 50px;
        padding: 2rem 1.4rem 2rem 1.4rem;
        font-size: 1.1rem;
    }

    label,
    span {
        font-size: 1.1rem;
    }

    .results,
    main {
        min-height: calc(100vh - 76px);
    }

    footer {
        font-size: 1.2rem;
    }

    .logoDB {
        margin-left: 10px;
    }
}

@media (min-width: 600px) and (max-width:999px) {

    header > h1 > span {
        font-size: 3rem;
    }

    li {
        background-size: 75px;
        padding: 2rem 2rem 2rem 2rem;
        font-size: 2rem;
    }

    button,
    label,
    span {
        font-size: 1.2rem;
    }

    .results,
    main {
        min-height: calc(100vh - 76px);
    }

    footer {
        font-size: 1.3rem;
    }
}

@media (min-width: 1000px) {

    header > h1 > span {
        font-size: 3.2rem;
    }

    li {
        background-size: 100px;
        padding: 2rem 3rem 2rem 3rem;
        font-size: 2.5rem;
    }

    .mainList2 {
        width: 50%;
    }

    button,
    label,
    span {
        font-size: 1.3rem;
    }

    .results {
        min-height: calc(100vh - 188px);
    }

    footer {
        font-size: 1.4rem;
    }

    main {
        min-height: calc(100vh - 76px);
    }
}
